.buttons {

    margin-top: 50px;
    
    text-align: center;
    
    border-radius: 30px;
    
    position: absolute;
    
    top: 50%;
    
    left: 50%;
    
    transform: translate(-50%, -50%);
    
    }
    
    .blob-btn {
    
    z-index: 1;
    
    position: relative;
    
    padding: 20px 46px;
    
    margin-bottom: 30px;
    
    text-align: center;
    
    text-transform: uppercase;
    
    color: #0505a9;
    
    font-size: 16px;
    
    font-weight: bold;
    
    background-color: transparent;
    
    outline: none;
    
    border: none;
    
    transition: color 0.5s;
    
    cursor: pointer;
    
    border-radius: 30px;
    
    }
    
    .blob-btn:before {
    
    content: "";
    
    z-index: 1;
    
    position: absolute;
    
    left: 0;
    
    top: 0;
    
    width: 100%;
    
    height: 100%;
    
    border-radius: 30px;
    
    }
    
    .blob-btn:after {
    
    content: "";
    
    z-index: -2;
    
    position: absolute;
    
    left: 3px;
    
    top: 3px;
    
    width: 100%;
    
    height: 100%;
    
    transition: all 0.3s 0.2s;
    
    border-radius: 30px;
    
    }
    
    .blob-btn:hover {
    
    color: #fff;
    
    border-radius: 30px;
    
    }
    
    .blob-btn:hover:after {
    
    transition: all 0.3s;
    
    left: 0;
    
    top: 0;
    
    border-radius: 30px;
    
    }
    
    .blob-btn__inner {
    
    z-index: -1;
    
    overflow: hidden;
    
    position: absolute;
    
    left: 0;
    
    top: 0;
    
    width: 100%;
    
    height: 100%;
    
    border-radius: 30px;
    
    background: #fff;
    
    }
    
    .blob-btn__blobs {
    
    position: relative;
    
    display: block;
    
    height: 100%;
    
    filter: url('#goo');
    
    }
    
    .blob-btn__blob {
    
    position: absolute;
    
    top: 2px;
    
    width: 25%;
    
    height: 100%;
    
    background: #0505a9;
    
    border-radius: 100%;
    
    transform: translate3d(0, 150%, 0) scale(1.7);
    
    transition: transform 0.45s;
    
    }
    
    .blob-btn__blob:nth-child(1) {
    
    left: 0%;
    
    transition-delay: 0s;
    
    }
    
    .blob-btn__blob:nth-child(2) {
    
    left: 30%;
    
    transition-delay: 0.08s;
    
    }
    
    .blob-btn__blob:nth-child(3) {
    
    left: 60%;
    
    transition-delay: 0.16s;
    
    }
    
    .blob-btn__blob:nth-child(4) {
    
    left: 90%;
    
    transition-delay: 0.24s;
    
    }
    
    .blob-btn:hover .blob-btn__blob {
    
    transform: translateZ(0) scale(1.7);
    
    }

    *{
        padding: 0;
        margin: 0;
    }
    
.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    grid-area: 1/1/2/3;
}
.image{
    grid-area: 2/1/3/3;
    padding: 100px;
}
.image img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.info{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 100px;
    text-align: justify;
    line-height: 40px;
    background-color: black;
    border-radius: 20px;
    color: darkgoldenrod;
}

.container{
   
    height: 100vh;
}
    ul{
      background-color: red;
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      padding: 10px;
    }
    li{
      font-family: sans-serif;
      font-weight: 900;
      text-transform: uppercase;
    }
    a{
      text-decoration: none;
      color: blue;
      padding: 10px;
    }
    body.home{
      background-size: 100% ; 
      background-image:url(./images/bmw-x7-first-drive.jpg); 
      background-repeat: no-repeat;     
    }
    *{
      margin: 0;
      padding: 0;
        } 



